@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Playwrite+HR:wght@100..400&display=swap');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    margin: 0 auto;
    padding: 60px 190px;
    background-color:black ;
    
   
  }
  .Body-Main{
     max-width: 1440px;
     /* display: grid;
     justify-content: center; */
  }
  .Text-1{
    font-size: 78px;
    font-weight: 900;
    color: #FFFFFF;
  }
  .Text-2{
    font-size: 70px;
    font-weight: 800;
    
  }
  
  .Text-3{
    font-size: 48px;
    font-weight: 900;
  }
  .Text-4{
    font-size: 36px;
    font-weight: 800;
  }
  .Text-5{
    font-size: 32px;
    font-weight: 700; 
  }
  .Text-6{
    font-size: 28px;
    font-weight: 900;
    color: #FFFFFF;
  }
  .Text-7{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF80;
  }
  .Text-8{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF80;
  }
  .Text-9{
    font-size: 40px;
    font-weight: 900;
    line-height: 0;
  }
  .Text-10{
    font-size: 24px;
    font-weight: 900;
    line-height: 0;
  }
  .Text-11{
    font-size: 23px;
    color: #FFFFFF80;
  }
  .Text-12{
    font-size: 16px;
    color: #FFFFFF;
  }
  .Color-primary-1{
    color: #E6533C;
  }
  .Color-primary-2{
    color: #FFFFFF;

  }
  .btn-primary{
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 16px 40px;
    border-radius: 40px;
    border: none;
  }
  .btn-primary-2{
    display: none;
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 16px 40px;
    border-radius: 40px;
    border: none;
  }
  .btn-Secondary{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 16px 40px;
    background-color: black;
  }
  
  
/* Nav Style Start  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#Drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}
nav ul a {
  text-decoration:none;
}
.btn-1{
  color: #FFFFFF;
  background-color: #E6533C;
  padding: 8px 20px;
  border-radius: 20px;
}
.Hamberger-icon{
  display: none;
  width: 50px;
  background-color: #e5e2e2;
  box-sizing: border-box ;
  border-radius: 30%;
}
/* Nav Style End  */

/* <!-- Banner Section style start  --> */

.Banner{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 60px;
  max-width: 1440px;
  padding-top: 20px;
}
.BannerText{
  width: 520px;
  text-align: justify;
}
.Italic{
  font-family: "Mea Culpa", cursive; 
  font-weight: 500;
  font-size: 96px;
}
.btnDiv{
  display: flex;
  gap:20px;
  padding-top: 30px;
}

.ImageDiv{
  padding-left: 525px;
  width: 350px;
  height: 580px;
  position: relative;
}

.Box{
  box-sizing: border-box;
  border: 1px solid  rgba(255, 255, 255, 0.1);
  color: #e5e2e2;
  background-color: rgba(255, 255, 255, 0.1);
  width: 190px;
  height: 110px;
  padding:0px 10px ;
  border-radius: 15px;
}

.box-1{
  position: absolute;
  top: 110px;
  left: 760px;
  text-align: justify;
  padding-left: 30px;
  background-color: #3030308A;
}
.circle{
  position: relative;
  background-color: #E6533C;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 50%;
  height: 40px;
}
.Tringle img{
  width: 20px;

}
.Tringle{
  position: absolute;
  top: 10px;
  left:10px;
}
.box-2{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 410px;
  left: 410px;
  background-color: #3030308A;
}

/* Mobile devive style start */

.ImageDiv-2{
  display: none;
  padding-left: 525px;
  width: 350px;
  height: 580px;
  position: relative;
}
.BannerTexts{
  width: 350px;
  text-align: justify;
  display: none;
  padding:0px 8px;
}

.boxs-1{
  position: absolute;
  top: 60px;
  left: 185px;
  /* text-align: justify; */
  padding-left: 40px;
  background-color: #3030308A;
}
.boxs-2{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 280px;
  left: 10px;
  background-color: #3030308A;
}
.Boxs{
  box-sizing: border-box;
  border: 1px solid  rgba(255, 255, 255, 0.1);
  color: #e5e2e2;
  background-color: rgba(255, 255, 255, 0.1);
  width: 180px;
  height: 90px;
  padding:5px 10px ;
  border-radius: 15px;
}
.Text-9{
  font-size: 30.24px;
}

/* <!-- Change your habit section style start  --> */

#Habits-Section{
  text-align: center;
  color: #ffffff;
  padding: 100px 0px;
}
.Habits-mainDiv{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 140px;
}
.Habits-card{
  width: 250px;
  text-align: center;
}
.Habits-card img{
  box-sizing: border-box;
  border-radius: 50%;
  width: 272px;
  height: 255px;
}

.Text-7{
  color: #FFFFFF;
}
/* <!-- Change your habit section style end  --> */


/* <!-- Run Extra Section style Start  --> */

#Run-extra-Section{
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 30px 40px;
  gap: 400px;
  border-radius: 20px;
}
.Text-Div h1{
color: #FFFFFF;
width: 352px;
line-height: 70px;
}
.Text-Div{
  width: 440px;
  padding-left: 30px;
}
.imgDiv img{
  display: block;
  border-radius: 20px;
  
}
.imgDiv-2{
  display: none;
}
.btn-primary-3{
  color: #FFFFFF;
  background-color: #E6533C;
  padding: 15px 60px;
  border-radius: 30px;
  border: none;
}

/* <!-- Run Extra Section style end  --> */

/* Heading BMI Section style start  */

.calculator-heading h1{
  text-align: justify;
}
.calculator-heading p{
  width: 500px;
  text-align: justify;
  line-height: 30px;
}
.calculator-heading{
  padding-left: 500px;
  padding-top: 60px;
  line-height: 20px;
}
.Text-3{
  color: #FFFFFF;
}


/* BMI Section style Start */

.BMI-section{
  width: auto;
  background-color: #222222;
  margin-top: 60px;
  border-radius: 20px;
  padding-bottom: 30px;
}

.BMI-MainDiv{
  display: flex;
  flex-direction: row;
  gap: 300px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
}
.BMI-Chart-Div{
display: grid;
gap: 50px;
}
th,td{
  /* box-sizing: border-box; */
  border: 1px solid #FFFFFF1A;
  padding: 20px 30px 10px 10px;
  text-align: start;
}

form input{
  padding: 15px 40px;
  background-color: #ffffff1a;
  border-radius: 10px;
  border: none;
  margin-top:15px ;
  margin-right: 10px;
}
#gender,#Activity-factor{
  padding: 10px 160px 10px 20px;
  background-color: #ffffff1a;
  border-radius: 10px;
  border: none;
  margin-top:15px ;
  margin-right: 10px;
  text-align: start;
  color: #FFFFFF99;
}
#Activity-factor{
  padding: 15px 325px 10px 20px;
  margin-bottom: 20px;
}

/* BMI Section style End */



/* <!-- Meet Our team section start --> */

.Meet-section{
  text-align: center;
  background-color: #ffffff1a;
  padding: 15px;
  margin-top: 40px;
  border-radius: 20px;
  line-height: 40px;
}


.Meet-img-Div{
  display: grid;
  grid-template-columns:repeat( 3,1fr);
  gap: 10px;
}
.Meet-img img{
  width: 450px;
  height: 370px;
  /* position: relative; */
  border-radius: 30px;
}
.Meet-img{
  position: relative;
  
}
.Meet-Text{
  position: absolute;
  top:275px;
  right: 260px;
  text-align: start;
  line-height: 10px;
}
.Text-7{
 font-size: 26px;
}
/* <!-- Meet Our team section end --> */

/* Fotter section style Start  */

footer{
 background-color:#ffffff1a; 
 width: 1410px;
 height: auto;
 margin: 88px 0px;
 padding: 20px;
}
.P{
  line-height: 30px;
}
#Footer-Section{
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: start;
  gap: 300px;
  color: #FFFFFF;
  padding: 20px;
  
  
}
footer hr{
  border: 1px solid #FFFFFF1A;
  margin-top: 70px;
}
.Rights{
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF80;
  padding-bottom: 40px;
}

/* Fotter section style end  */








/* Smaller Responsive style Start */
@media screen and (max-width:576px) {

  .inter-normal {
    margin:auto ; 
    padding: 0;

  }

  .btn-primary-2{
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16.24px;
  }
 
  .btn-Secondary{
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 16.24px;
  }
 

 /* Nav Style Start  */
nav{
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
#Drop-down{
  display: none;
}
.Hamberger-icon{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
 
/* Banner Section style  */

.Banner{
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
  padding: 10px;
}
.BannerTexts h1{
 font-size: 36px;
}
.Italic{
  font-size: 60px;
}
.BannerText{
  display: none;
}
.BannerTexts{
  display: block;
}
.btn-primary{
 display:none;
}
.btn-primary-2{
  display: block;
}
.ImageDiv{
  display: none;
  justify-content: center;
  align-items: center;
}
.ImageDiv-2{
  display: block;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  /* position: relative; */
}
.ImageDiv{
  display: none;
  
}

/* Change your habit section style start  */
.Habits-mainDiv{
  flex-direction:column;
  gap: 30px;
  }
.Text-3{
  font-size: 36px;
}

/* Run Extra Section style Start */

#Run-extra-Section{
  margin: 0px 20px;
  flex-direction: column;
  padding: 20px 30px 20px 20px;
  gap: 15px;
}
.Text-Div h1{
color: #FFFFFF;
}
.Text-Div{
  width: 340px;
  padding-left: 0px;
}
.imgDiv img{
  display: none;
}
.imgDiv-2{
  display: block;
  
}
.imgDiv-2 img{
  border-radius: 20px;
  width: 310px;
  display: block;
}
.btn-primary-3{
  padding: 15px 90px;
  border-radius: 30px;
}

/* Heading BMI Section style start  */
.calculator-heading p{
  width: 300px;
}
.calculator-heading{
  padding-left:24px;
  padding-top: 40px;
}

/* BMI Section style Start */

.BMI-section{
  margin: 10px;
}
.BMI-MainDiv{
  flex-direction: column;
  gap: 50px;
  padding: 10px 80px 10px 20px;
}
.BMI-Chart-Div{
gap: 10px;
}

.BMI-Calculate-Div{
  width: 280px;
  height: 520px;

}
form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
form input{
  width: 130px;
  padding: 12px 8px;
 
}
#gender,#Activity-factor{
  padding: 15px 60px 10px 20px;
  width: 130px;
 
}
#Activity-factor{
  padding: 15px 145px 10px 20px;
  width: 250px;
}

/* BMI Section style End */


/* Meet Our team section style start */
.Meet-section{
  margin: 20px;
  line-height: 20px;
}
.Meet-img-Div{
  grid-template-columns:repeat( 1,1fr);
  padding: 20px;
}
.Meet-img img{
  width: 310px;
  height: 250px;
}

.Meet-Text{
  top:170px;
  right: 160px;
  
}
.Text-7{
  font-size: 20px;
}

/* Fotter section style Start  */
footer{ 
  width:auto;
  height:auto;
  padding-left: 15px;
 }
 li{
   line-height: 40px;
   padding: 0px;
 }
 #Footer-Section{
   flex-direction: column;
   gap: 60px;
   padding: 10px;
   
   
 }
 
 /* Fotter section style end  */


}

